* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    padding-bottom: 2rem;
    display: flex;
    justify-content: center;
}


/* ? SEARCH BAR SECTION */

#searchbar {
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    padding-top: 1rem;
    padding-bottom: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#searchUserInput {
    border-radius: 3px;
    padding: 0.5rem;
    max-width: 25rem;
    margin-bottom: 1rem;
}

/* * END OF SEARCH BAR SECTION */


/* ? USERS GRID SECTION */

#usersGridContainer {
    width: 80%;
    padding: 6rem 2rem 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 2rem;
    column-gap: 2rem;
}

.userCard {
    border: 2px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    flex: 0 0 120px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.userCard img {
    position: relative;
    width: 100%;
}

.userName {
    margin-top: 0.5rem;
}

.infoButton {
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 3px;
    padding: 0.5rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.infoButton:hover {
    cursor: pointer;
}

.userType, .userAdmin {
    margin-top: 0.3rem;
    display: none;
}

/* * END OF USERS GRID SECTION */